
.th1 {
	width: 10%;
}
.th2 {
	width: 20%;
}
.th3 {
	width: 20%;
}
.th4 {
	width: 25%;
}
.th5 {
	width: 25%;
}

.underTable {
	background-color: white;
	height: 100%;
	width: 50%;
	float: left;
}